---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//bootstrap variables

$font-family-sans-serif:	"Roboto", sans-serif;
$font-family-serif:			"Roboto", serif;
$brand-primary:				#3097d1;

$navbar-border-radius: 		0;

//own variabled
$grey-color:				#828282;

body{
	padding-top: 54px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "defaults",
		"../bower_components/bootstrap/scss/bootstrap-flex"
;
