---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//bootstrap variables

$font-family-sans-serif:  "Roboto", sans-serif;
$font-family-serif:       "Roboto", serif;
$font-size-root:            16px;
$font-size-base:             1.12rem !default;
$font-size-lg:               1.12rem !default;
$font-size-sm:               1.0rem !default;
$font-size-xs:               .75rem !default;

$font-size-h1:               1.63rem !default;
$font-size-h2:               1.51rem !default;
$font-size-h3:               1.39rem !default;
$font-size-h4:               1.27rem !default;
$font-size-h5:               1.14rem !default;

$brand-primary:				#3097d1;

$label-font-weight:           norman;

$navbar-border-radius: 		0;

$btn-font-weight: 			300;

$card-border-color: 		#d3e0e9;

//own variabled
$background-color:	#ffffff;
$grey-color:				#828282;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "../bower_components/bootstrap/scss/bootstrap",
  "../bower_components/bootstrap/scss/bootstrap-grid",
  "syntax-highlighting",
  "ms"
;

pre code {
  font-size: 0.9rem;
}

