---
layout: default
---

<div class="row">

	<div class="col-md-8">


  <div class="post-list">
    {% for post in site.posts %}
      <div class="card">
		  <div class="card-block">
			 <div class="card-title">
				 <h5>{{ post.title }}</h5>
				 {% for tag in post.tags %}
				 <span class="label label-primary">{{tag}}</span>
				 {% endfor %}
				</div>
			<div class="card-text">
				{{ post.excerpt}}
			</div>
        	  <span>{{ post.date | date: "%b %-d, %Y" }}</span>

          		<a class="pull-right" href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
		</div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="col-md-4">

<div class="card profile">

		<div class="card-title">
			
		</div>
		<img src="{{site.github.owner_gravatar_url}}">
		<h5>{{ site.title }} </h5>
		<div class="card-subtitle">{{site.sub_title}}</div>
		<div class="card-text">
			 {% for key_word in site.key_words %}
				 {{key_word}}
				 {% if forloop.last != true %}|{% endif %}
			 {% endfor %}

		</div>
</div>

    {% include sidebar-popular-repo.html %}
			

	<h5 class="card-title">Stackoverflow</h5>
	<div class="card">
		<div class="card-block">
			<a href="http://stackoverflow.com/users/2688545/michael">
				<img src="http://stackoverflow.com/users/flair/2688545.png?theme=clean" width="208" height="58" alt="profile for michael at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for michael at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
			</a>
		</div>
	</div>
</div>
</div>

