<footer class="footer">

  <div class="container">


          {% if site.github_username %}
          <div>
            {% include icon-github.html username=site.github_username %}
          </div>
          {% endif %}


  </div>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/tether/dist/js/tether.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <script>
      $(function(){
          $("body").tooltip({ selector: '[data-toggle=tooltip]' });
      });
  </script>

</footer>
