body {
	padding-top: 5em;
	background-color: $background-color;
    font-weight:300;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.ms-navbar {
	border-style: solid;
	border-width: 0 0 1px;
	border-color: darken($brand-primary, 10%);
	background-color: rgba(48, 151, 209, 0.91);
  -webkit-backdrop-filter: blur(10px);
}

.btn {
	border-color: darken($brand-primary, 10%);
  font-size: 0.8rem;
}

@mixin card-title-background {
	background: #00d2ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, lighten($brand-primary, 20%) , $brand-primary); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, lighten($brand-primary, 20%) , $brand-primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

[card-href]{
  cursor:pointer;
}

.card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);  
	
	&.profile {
		
		text-align:center;
		
		.card-title {
			background-image: url(../assets/img/essaouira.png);
			background-size: cover;
			height: 150px;
			background-position-y: 0;
		}
		
		.card-text {
			padding: 0.25em 1.25em 1.25em 1.25em;
      font-size: 1.0rem;
		}
		img {
			max-width: 100px;
			margin-top: -90px;
			margin-bottom: 5px;
			border: 3px solid #fff;
			border-radius: 100%;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		}
	}
	
	&.github-repo {

		.card-title {
			@include card-title-background();
		    color:white;
			padding: 0.5em;
		}
    
    .card-subtitle {
      margin-top:0;
    }
	
		h5 {
			font-weight:300;
		}
    
    .github-language {
      font-weight: 400;
    }
    
		.card-text {
      font-size: 1.0rem;
		}
    
    .btn {
      margin-top: 1rem;
    }
	}
}

.post-list{
  .card-text {
  	font-size: 1.1rem;
  }  
}

.meta-info {
	cursor:pointer;
	padding:0.25em;
	
	&:first-child {
		padding-left:0;
	}
}