body {
	padding-top: 5em;
	background-color: $background-color;
    font-weight:300;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.ms-navbar {
	border-style: solid;
	border-width: 0 0 1px;
	border-color: darken($brand-primary, 10%);
}

.btn {
	border-color: darken($brand-primary, 10%);
}

.text-right {
	text-align:right;
}

.pull-right {
	float:right;
}
@mixin card-title-background {
	background: #00d2ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, lighten($brand-primary, 20%) , $brand-primary); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, lighten($brand-primary, 20%) , $brand-primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);  
	
	&.profile {
		
		text-align:center;
		
		.card-title {
			background-image: url(../assets/img/essaouira.png);
			background-size: cover;
			height: 150px;
			background-position-y: 0;
		}
		
		.card-text {
			padding: 0.25em 1.25em 1.25em 1.25em;
		}
		img {
			max-width: 100px;
			margin-top: -70px;
			margin-bottom: 5px;
			border: 3px solid #fff;
			border-radius: 100%;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
		}
	}
	
	&.github-repo {

		.card-title {
			@include card-title-background();
		    color:white;
			padding: 0.5em;
		}
	
		h5 {
			font-weight:300;
		}
	}
}

.card-subtitle {
	opacity: 0.75;
}
.card-text {
	font-size: smaller;
	opacity: 0.75;
}
.meta-info {
	cursor:pointer;
	padding:0.25em;
	
	&:first-child {
		padding-left:0;
	}
}